@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: url('https://preview.redd.it/benqh11m8fv41.png?width=960&crop=smart&auto=webp&s=4401dc9415676d371f04364bd8d7da0a3264b2be')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  color: #fff;
  font-family: 'Caveat', cursive;
}

p {
  color: #ddd;
}
